@font-face {
    font-family:vazir ;
    font-weight: 300;
    src: url(../fonts/vazir-font-v16.1.0/Vazir-Light.ttf) format("truetype"),
         url(../fonts/vazir-font-v16.1.0/Vazir-Light.woff) format("woff");
}

@font-face {
    font-family:vazir ;
    font-weight: 600;
    src: url(../fonts/vazir-font-v16.1.0/Vazir-Medium.ttf) format("truetype"),
         url(../fonts/vazir-font-v16.1.0/Vazir-Medium.woff) format("woff");
}


@font-face {
    font-family:vazir ;
    font-weight: 900;
    src: url(../fonts/vazir-font-v16.1.0/Vazir-Bold.ttf) format("truetype"),
         url(../fonts/vazir-font-v16.1.0/Vazir-Bold.woff) format("woff");
}
@font-face {
    font-family:lalezar ;
    src: url(../fonts/Lalezar-Regular.ttf) format("truetype");
}


body{
    font-family: vazir;
}

#header h1{
    font-family: lalezar;
}
